extends layout

block content
                           
  div(class="container help")
   div(class="row")
    div(class="col-xs-12")
     //img(src="/images/referee.png" alt="" style="border-width:0px; width: 250px;float: right;")
     h2!= title
     div(style="text-align:center").alert.alert-warning!="A GAME THAT GOES INTO PENALTIES IS CONSIDERED A DRAW! CHECK <b><a class='yammer' href='https://www.yammer.com/netlight.com/#/threads/inGroup type=in_group&feedId=4463280'>YAMMER</a></b> FOR DETAILS...!"
     p!= "Alexa is your personal assistant."
     p!= "Just say 'Alexa ask Carni' and there you go!<br/>"

     h4!= "This is how Alexa works:"
        //img(src="/images/brazil_folder.png" alt="" style="float: left;")
     h1()

     h4 Examples:
          table(class="table table-striped table-responsive table-hover" )
            thead
              tr
                th!='Location'
                th!='Activity'
                th!='Time'
                th!='Duration'
            tbody
              tr
                td!= "Bar Lola"
                td!= "Our popular Happy Hour at the Bar!"
                td!= "5pm"
                td!= "2 hours"
              tr
                td!= "Restaurant"
                td!= "It's lunch time!"
                td!= "2pm"
                td!= "2 hours"
              tr
                td!= "Pool"
                td!= "Aqua Gym with our master swimmers"
                td!= "10am"
                td!= "2 hours"
              tr
                td!= "Pool"
                td!= "Aqua Gym with our master swimmers"
                td!= "3pm"
                td!= "2 hours"                                                          

     p.alert.alert-success
           //img(src="/images/brazil_help_contact.png" alt="" style="border-width:0px;float:center;width:75px")
           span!= ''+netlighter +', You can of course always reach us at:'
           a(href="mailto:gnagna217@gmail.com")!= ' gnagna217@gmail.com <br/>'
               
               
